/* ***Common Fix starts here */
*{
    margin: 0px;
    box-sizing: border-box;
}
img{
    width:100%;
    height: 100%;
}

/* ***Common Fix starts here */


/* *** First section starts here*** */
.firstsection{
    height: 87vh;
    display: flex;
}

.firstsection-leftdiv{
    height: 100%;
    width: 50%;
    padding: 20px;
    background: var(--gray-color);
}
.firstsection-rightdiv{
    height: 100%;
    width: 50%;
    background:var(--linear-gradient), url("./images/image1.jpg");
    background-size: cover;
    background-position: bottom left;
}
.firstsection-leftdiv p{
    margin-bottom: 25px;
}
.link-holder{
    display: flex;
    justify-content: space-evenly;
    color: var( --whtie-color);
    padding: 20px 0;
}
span {
    color: var(--main-color);
}
.line{
    background: var(--main-color);
    height: 16px;
    width: 224px;
}
.logotext{
    margin-bottom: 20px;
}
.heading{
    margin-bottom: 20px;
}

/* *** First section ends here*** */



/* *** seond section starts here*** */
.secondsection{
    /* border: var(--black-bolder); */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}
.secondsection-leftdiv{
    text-align: center;
    height: 400px;
    width: 310px;
    background: var(--gray-color);
    padding: 40px 20px;
}
.secondsection-leftdiv p{
    text-align: left;
    margin: 20px 0;
}
.secondsection-rightdiv{
    height: 460px;
    width: 340px;
    background: var(--main-color);
    margin-left: 20px;
}



.thirdsection{
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    padding: 30px 0;
    flex-wrap: wrap;
    background: var(--gray-color);
}
.thirdsection-leftdiv{
    background: var(--gray-color);
    width: 340px;
    height: 460px;
}
.thirdsection-rightdiv{
    background: var(--main-color);
    width: 340px;
    height: 460px;
    padding: 40px 20px;
    text-align: center; 
}

.thirdsection-rightdiv p{
    margin: 20px;
    text-align: left;
}

.footersection{
    color: var(--whtie-color);
    background: var(--main-color); 
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 30px 30px;
}
.footericons-container{
    width: 200px;
    text-align: center;
}
.footer-icons{
    font-size:25px;
    margin: 0 10px;
}
